*{
    box-sizing: border-box;
}

.body{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 140px;
}

.contenedorlogo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 40px;
    font-size: 20px;
    height: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo{
    width: 125px;
    height: 125px;
}

.contenedoritems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.contenedorformulario{
    
}

.contenedorfooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    background-color: black;
    color: white;
    font-size: 20px;
    justify-content: center;  
}

.peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}

.imagenserie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 125px;
    width: 200px;
}

.vermas{
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 40px;
}

/*Details*/

.contenedordetails{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: flex-end ;
    
}

.contenedorinfodetails{
    
}

.contenedorsinopsisdetails{
   display: flex;
   background-color:#4B1248;
}

.parrafodetails{
    font-size: 50px;
}